spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finance
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092